<div class="row">
    <div class="small-12 columns">
    <br>
	<h1>Posts#Create:</h1>
		<%= form_for(@post) do |f| %>  
		  <div class="field"> 
		    <%= f.label :post %><br> 
		    <%= f.text_area :title %> 
		    <%= f.text_area :text %> 
		  </div> 
		  <div class="actions"> 
		    <%= f.submit "Create" %> 
		  </div> 
		<% end %>
	</div>
</div>