<div class="row">
    <div class="small-12 columns">

    	<br>
		<%= link_to "posts/new", class: "title-link" do%>
			<%= image_tag("icons/add186.png", size: "30x30", :title => "+ New Post", :alt => "Post +") %> <span>Add New Post </span>
		<% end %>
		<div class="content">
		<% @posts.each do |post| %> 

			<div class="post"> 

  				<h2 class="post-title"><%= post.title %></h2> 

  				<div class="long-text">
	  				<p class="post-text">
	  					<%= post.text %>
	  				</p> 
  				</div>

  				<hr />
	  			<div class="post-info">
	  				<%=link_to  post  do%>
	  					<%= image_tag("icons/view24.png", size: "30x30", :title => "See Post", :alt => "View Post") %>
	  				<% end %>

	  				
	  				<%= image_tag("icons/speechbubble10.png", size: "30x30", :title => "Comments", :alt => "Comments", :class => 'comments-block', :id => "cb "+post.id.to_s) %>
	  				
	  				
	  				<%if post.created_at.to_date == Date.today %>
	  					<span class="post-time"> today <%= post.created_at.strftime(" %H:%M") %></span> 
	  				<% else %>
	  					<span class="post-time"> <%= post.created_at.strftime(" %d %b. %Y") %></span> 
	  				<% end %>

	  				<span class="post-creater">by: <%= User.find_by_id(post.user_id).login %> | &nbsp;
	  				</span> 
	  			</div>
			</div> 

			<div class="comments-wrapper" id = "cw <%=  post.id%>">
			<div class="comments-head"> 
				
				<%= image_tag("icons/add186.png", size: "30x30", :title => "+ New Comment", :alt => "Comment +") %> <span>Add New Comment </span>
				
				<span>| Count of comments - <%=post.comments.count %></span>
			</div>
			<% post.comments.each do |comment| %> 
			<div class="comment block-shadow-2">
   				<p class="comment-text">
   					<%= comment.body %>
   				</p> 
   				<hr />
   				<div class="comment-info">
	  				<span class="comment-creater"><%= User.find_by_id(comment.user_id).login %>
	  				</span> 
	  				<span class="comment-time"><%= comment.created_at %></span> 
	  				<span class="comment-time"><%= comment.updated_at %></span> 
	  			</div>
	  		</div>	
			<% end %>
			</div> 
			
		<% end %>
		</div>
	</div>
</div>		
