<div class="row">
	<div class="small-12 columns">
		<br>
		<%= link_to "posts/new", class: "title-link" do%>
			<%= image_tag("icons/add186.png", size: "30x30", :title => "+ New Post", :alt => "Post +") %> <span>Add New Post </span>
		<% end %>
		<span class="swich"> View posts: 
			<%=link_to  'all', :sw => false %> |
			<%=link_to  'own', :sw => true %>
		</span>
		<div class="content">
			<% @posts.reverse_each do |post| %> 
				<% unless (params[:sw].to_s == 'true') && (post.user_id != current_user.id) %>
					<%= render partial: "post_box", locals: {post: post} %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>