<div class="row">
	<div class="small-12 columns behind-page">
		<h1>Your Profile</h1>
		<span>Name: </span> <%= current_user.name %>
		<br>
		<span>Email: </span> <%= current_user.email %>
		<br>
		<span>Joined on </span> <%= current_user.created_at.strftime(" %d %b. %Y - %H:%M") %>
		<br><br>
		<span>Followers:</span>
			<% unless current_user.followers.empty? %>
				<% current_user.followers.each do |follower_user| %>
					<%=link_to  follower_user.login, :controller => "persons", :action => "show", :id => follower_user.id %>
				<% end %>
			<% else %>
				nobody
			<% end %>
		<br>
		<span>Following:</span>
			<% unless current_user.following.empty? %>
				<% current_user.following.each do |followed_user| %> 
					<%=link_to  followed_user.login, :controller => "persons", :action => "show", :id => followed_user.id %> 
				<% end %>
			<% else %>
				nobody
			<% end %>
		<br>
		<span>Post posted:</span> 
			<% if current_user.posts.count != 0 %>
				<%= current_user.posts.count %>
				<%=link_to  'see them', :controller => "posts", :action => "show_user_posts", :id => current_user.id %>
			<% else %>
				Your post anything
			<% end %>
		<br>
		<span>Comentars:</span> 
			<% if current_user.comments.count != 0 %>
				<%= current_user.comments.count %> 
				<%=link_to  'see them', :controller => "comments", :action => "show_user_comments", :id => current_user.id %>
			<% else %>
				Your comment anything
			<% end %>
		<br><br>
		<%= link_to "Edit", edit_user_registration_path %>
	</div>
</div>