<div class="comments-wrapper" id = "cw <%=  post.id%>">
  <div class="comments-head"> 
    <%= image_tag("icons/add186.png", size: "30x30", :title => "+ New Comment", :alt => "Comment +", :class => 'show-comments-form', :id => "cbf "+post.id.to_s) %> 
    
    <span>| Count of comments - <%=post.comments.count %></span><span>Add New Comment </span>
    <br>
    <div class='comment-form' id = "cf <%=  post.id%>">
      <%= form_tag( controller: 'comments' , action: 'create' ) do %> <%= hidden_field_tag(:post_id, post.id) %>
        <%= text_area_tag(:body) %>
        <%= submit_tag ('Add') %>
      <% end %>
    </div>
  </div>
  <% post.comments.each do |comment| %> 
    <div class="comment block-shadow-2">
      <p class="comment-text ">
        <% if comment.user_id == current_user.id %>
          <span>  
            | <%= link_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure?" } %>
            <br>
          </span>
        <% end %>
        <%= comment.body %>
      </p> 
      <hr />
      <div class="comment-info">
        <span class="comment-creater">
          <% if comment.user_id == current_user.id %>
            <%=link_to  "You", :controller => "persons", :action => "profile" %>
          <% else %>
            <%=link_to  User.find_by_id(comment.user_id).login, :controller => "persons", :action => "show", :id => comment.user_id %>
          <% end %>
        </span> 
        <%if comment.created_at.to_date == Date.today %>
          <span class="comment-time"> today <%= comment.created_at.strftime(" %H:%M") %></span> 
        <% else %>
          <span class="comment-time"> <%= comment.created_at.strftime(" %d %b. %Y") %></span> 
        <% end %>
      </div>
    </div>
  <% end %>
</div>